<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Coupon</title>
</head>
<body>

    <h2>Create Coupon</h2>

    <form action="/saveCoupon" method="post">

        <label for="code">Code</label><br>
        <input type="text" id="code" name="code"><br><br>

        <label for="discount">Discount</label><br>
        <input type="text" id="discount" name="discount"><br><br>

        <label for="expDate">Expiry date</label><br>
        <input type="text" id="expDate" name="expDate"><br><br>

        <input type="submit" value="Save">

    </form>

</body>
</html>